// Font style

@font-face{

   font-family: 'Univers LT CYR';
   
   src: url('../fonts/UniversLTCYR55Roman/font.woff') format('woff'), url('../fonts/UniversLTCYR55Roman/font.woff2') format('woff2');
   
   font-weight: normal;
   
   font-style: normal;
   
}

// Font style

$current_color: #3548FE;
$white_color: #fff;
$super_large_size: 130px;
$small_size: 14px;
$mt120: 120px;
$padTopBottom: 80px 0;


// General style 

* {
   font-family: 'Univers LT CYR';
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   letter-spacing: -0.03em;
   line-height: 24px;
}

html {
   font-size: 20px;
   scroll-behavior: smooth;
}

body {
   background-color: #101014;
   padding: 5px 0;
   color: $white_color;
}

h2 {
   font-size: 100px;
   font-weight: 400;
   line-height: 80px;
}

h3 {
   font-size: 75px;
   font-weight: 400;
   line-height: 60px;
}

a {
   color: $current_color;

   &:hover {
      text-decoration: none;
   }
}

img {
   max-width: 100%;
   height: auto;
}

.none_list {
   list-style: none;
}

button {
   cursor: pointer;
}

.mt50 {
   margin-top: 50px;
}


.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 100px;
}

// General style


// Header start

.header {

   padding: 15px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

    .header_part1 {

      display: grid;
      grid-auto-flow: column;
      grid-gap: 30px;
      align-items: center;

      .header_logo {

         img {
            width: 100%;
            max-width: 250px;
         }
       }

       .choose_faculty {
         text-transform: uppercase;
         font-size: $small_size;
         height: 40px;
         width: 208px;
         background: transparent;
         border: 1px solid #fff;
         border-radius: 50px;
         color: $white_color;
         transition: all .4s;
         letter-spacing: 1.5px;
         line-height: 1;

         &:hover {
            background: $current_color;
         }
       }

    }

    .header_navigation {
      display: flex;
      align-items: center;

      .menu_list {
         display: grid;
         grid-auto-flow: column;
         grid-gap: 30px;
    align-items: center;
         list-style: none;
         line-height: 1;

         .menu_list_item {
            line-height: 1;
            
            a {
               font-size: $small_size;
            color: $white_color;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient($white_color, $white_color);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    letter-spacing: 1.5px;

            &:hover {
               background-size: 100% 1px;
            }

            }

         }
      }
      
    }

    .burger {
         cursor: pointer;
         z-index: 9;
         position: relative;
         display: none;

      .burger_row1,
      .burger_row2 {
         width: 30px;
         height: 4px;
         background-color: $white_color;
         margin: 6px 0;
         transition: 0.4s;
      }
      }

      .header_part3 {
         display: grid;
         grid-auto-flow: column;
         grid-gap: 30px;
         align-items: center;
      }

      .language_active {
         text-transform: uppercase;
         font-size: $small_size;
         line-height: 14px;
         letter-spacing: 1.5px;
         line-height: 20px;
      }

      .log_in_link {
         display: inline-grid;
         grid-auto-flow: column;
         align-items: center;
         grid-gap: 6px;
         background-image: linear-gradient($white_color, $white_color);
         background-position: 0% 100%;
         background-repeat: no-repeat;
         background-size: 0% 1px;
         transition: background-size .3s;
         text-decoration: none;
         color: $white_color;

         p {
            text-transform: uppercase;
            font-size: $small_size;
            line-height: 14px;
            letter-spacing: 1.5px;
            cursor: pointer;
            line-height: 20px;
         }

         &:hover {
            background-size: 100% 1px;
         }
      }
}

.header_title {
   position: relative;

   h1 {
      
   font-size: $super_large_size;
      font-weight: 400;
      line-height: 120px;
   }

   & span {
      color: $current_color;
   }

   #module_level {
      position: absolute;
    color: #23232E;
    right: 90px;
    bottom: -75px;
    font-size: 7em;
    z-index: -1;
    height: 100%;
   }

}

.go_to_professium {
    background-color: $current_color;
    font-size: $small_size;
    max-width: 257px;
    width: 100%;
    border: 2px solid $current_color;
    border-radius: 50px;
    padding: 10px 0;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 50px;
    transition: all .4s;

         &:hover {
            background-color: transparent;
         }
}

.background_module {

   background: url(../images/A.png) no-repeat right;
   background-size: contain;
}
// Header end


// Breadcrumbs start

.breadcrumbs {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
   grid-gap: 25px;
   margin-top: 80px;

   .breadcrumb_link {
      font-size: $small_size;
   } 
}

// Breadcrumbs end


// Modules start

#modules {
   margin-top: 100px;
   

.amount_modules {
   font-size: 30px;
    display: flex;
    align-items: center;

    .amount_modules_info {
      margin-left: 10px;
    }

}
.modules_list {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    position: relative;

    .modules_list_item {
       min-width: 295px;
      height: 305px;
      background-color: #23232E;
      padding: 20px;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      justify-content: space-between;

      a {
         text-decoration: none;
      }

      .modules_list_item_title {
         font-size: 40px;
         line-height: 36px;
      }

      .modules_list_item_time {
         max-width: 190px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

         .months {
            text-align: right;
            position: relative;

            &::before {
               content: "";
    width: 35px;
    height: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(
130deg
) translate(50px, -5px);

         }
      }

    }

    &:last-child {
       margin-right: 0;
    }
}

&::after, &::before {
   content: url(../images/arrow_right.png);
   background-color: $current_color;
   width: 48px;
   height: 48px;
   position: absolute;
   top: 50%;
   color: $white_color;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   opacity: 0;
   transition: all .4s;
   cursor: pointer;
}

&::after {
   right: 0;
   transform: translate(-50%, -50%);
}

&::before {
   left: 0; 
   transform: translate(50%, -50%) rotate(180deg);
}

&:hover {

   &::after, &::before {
      visibility: visible;
      opacity: 1;
   }

}
}

.mastery_vector {
   margin-top: $mt120;

   .mastery_vector_link {
      display: block;
   }
}

}

// Modules end


//Professium details start

#professium_details {
   margin-top: $mt120;

   .professium_details_img {
      width: 100%;
   }

   .advantages {
      background: $current_color;
      padding-bottom: 50px;

   .advantages_title {
      color: #101014;
      margin-top: -85px;

      span {
         color: $current_color;
      }
   }

.advantages_list {
   margin-top: $mt120;
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 40px 20px;

    .advantages_list_item_title {
      padding-bottom: 40px;
      border-bottom: 1px solid #fff;
      font-size: 2rem;
      line-height: 36px;
    }

    .advantages_list_item_text {
      padding-top: 30px;
    }
}

}


}

//Professium details end



//Curators start

#curators {

   padding: $padTopBottom;

   .curators_title {


      span {
         color: $current_color;
      }
   }

}

//Curators end


//Curriculum start

#curriculum {

   padding: $padTopBottom;

   .curriculum_title {


      span {
         color: $current_color;
      }
   }

   .curriculum_list {
      margin: 60px 0 0;

      .curriculum_item {
         display: flex;
         justify-content: space-evenly;

         .curriculum_item_module {
            margin: 60px 0 0;
    position: relative;
    min-width: 190px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;

            &::after {
               content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: #23232E;
    left: 50%;
    top: 0;
    transform: translate(-50%, 45px);

            }

         }

         .curriculum_item_description {
            max-width: 1030px;
            width: 100%;
            background: #23232E;
            padding: 60px;
            margin-bottom: 20px;

            .curriculum_item_description_title {
               margin-bottom: 50px;
            }

            .curriculum_item_description_text {
               display: grid;
    grid-template-columns: 55% 35%;
    grid-gap: 10%;
    
               .curriculum_item_description_text_item {
                  margin-bottom: 50px;

                  &:last-child {
                     margin-bottom: 0;
                  }
               }

               .curriculum_item_description_subtitle {
                  font-size: $small_size;
                  text-transform: uppercase;
                  color: $current_color;
                  margin-bottom: 10px;
                  letter-spacing: 1.5px;
               }
 
               .pass_separetely {
                  text-transform: uppercase;
                  font-size: $small_size;
                  max-width: 257px;
                  height: 45px;
                  width: 100%;
                  background: transparent;
                  border: 1px solid #fff;
                  border-radius: 50px;
                  color: $white_color;
                  transition: all .4s;
                  letter-spacing: 1.5px;

                  &:hover {
                     background: $current_color;
                  }
               }
            }
         }

      }

      .curriculum_item_diploma {
         display: flex;
         justify-content: space-evenly;

         .curriculum_item_module {
            margin: 60px 0 0; 
    position: relative;
    min-width: 190px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;

         }

         .curriculum_item_diploma_container {
            max-width: 1030px;
               width: 100%;

            .curriculum_item_diploma_description {
               background: $current_color;
               padding: 60px;
               margin-bottom: 20px;
   
               .curriculum_item_diploma_description_header {
                  display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   
                  .curriculum_item_diploma_description_title {
                     margin-bottom: 50px;
   
                     span {
                        color: #101014;
                     }
                  }
               }
   
               .curriculum_item_diploma_description_text {
   
   
                  .curriculum_item_description_text_item {
                     margin-bottom: 50px;
   
                     &:last-child {
                        margin-bottom: 0;
                     }
   
                     .curriculum_item_description_subtitle {
                        font-size: $small_size;
                     text-transform: uppercase;
                     color: #101014;
                     margin-bottom: 10px;
                     letter-spacing: 1.5px;
                     }
                  }
   
                  .curriculum_item_description_text_with_autograph {
                     display: flex;
                     justify-content: space-between;
   
                     .curriculum_item_description_text_with_autograph_image {
                        max-width: 325px;
                     }
                  }
   
               }
            }

         }

      }

      .curriculum_item_attention {
         max-width: 525px;
      }

      .curriculum_item_join {
         background-color: $current_color;
         border: 2px solid $current_color;
         height: 45px;
         max-width: 125px;
         width: 100%;
         margin-top: 30px;
         text-transform: uppercase;
         border-radius: 50px;
         color: $white_color;
         transition: all .4s;
         letter-spacing: 1.5px;

         &:hover {
            background-color: transparent;
         }

      }

   }

}

//Curriculum end



//Students projects start

#students_projects {
padding: $padTopBottom;

   .students_projects_title {


      span {
         color: $current_color;
      }
   }
}

//Students projects end


//Students projects2 start

#students_projects2 {
   padding: $padTopBottom;
   
      .students_projects2_title {
   
   
         span {
            color: $current_color;
         }
      }

      .students_projects2_item {
         display: flex;
         flex-direction: column;
   
      .students_projects2_item_position {
            color: $current_color;
            font-size: $small_size;
            text-transform: uppercase;
            margin: 30px 0;
         }
   
      .students_projects2_item_name {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 10px;
         }
   
      .students_projects2_item_about {
            font-size: 16px;
            line-height: 19px;
            max-width: 630px;
         }
      }

   }
   
   //Students projects2 end



//Suitable program start

#suitable_program {
   padding-top: 80px;
   
      .suitable_program_title {
   
   
         span {
            color: $current_color;
         }
      }

      .suitable_program_list {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
         grid-gap: 5%;
         margin-top: 60px;

         .suitable_program_list_part {
            max-width: 500px;

            .suitable_program_list_item {

               margin-bottom: 50px;
   
               .suitable_program_list_point {
                  display: flex;
   
                  span {
                     color: $current_color;
                     min-width: 35px;
                  }
      
               }
      
               .suitable_program_list_item_title {
                  
                  color: $current_color;
                  margin-bottom: 10px;
               }
   
               &:last-child {
                  margin-bottom: 0;
               }
   
            }
         }
         
      }

      .consult_me_btn {
         background-color: $current_color;
         border: 2px solid $current_color;
         height: 45px;
         max-width: 255px;
         width: 100%;
         text-transform: uppercase;
         border-radius: 50px;
         color: $white_color;
         transition: all .4s;
         letter-spacing: 1.5px;

         &:hover {
            background-color: transparent;
         }
      }
   }

   //Suitable program end




   //Saving start

#saving {
   margin-top: $mt120;

   .saving_img {
      width: 100%;
   }

   .saving_container {
      background-color: $current_color;
    padding-bottom: 100px;

    .saving_title { 
      color: #101014;
      margin-top: -85px;
      max-width: 940px;

      span {
         color: $current_color;
      }
   }

   .saving_list {
      margin-top: $mt120;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 5%;

      .saving_item {
         max-width: 500px;

         .go-to-professium {
            background-color: #101014;
    font-size: $small_size;
    margin-top: 30px;
    max-width: 257px;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 10px 0;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
         }

         .saving_item_amount {
            font-size: 80px;
            margin-bottom: 50px;
         }
      }
   }

}

}

//Saving end



//Learning start

#learning {
   padding: $padTopBottom 125px;

   .learning_title {
   
      span {
         color: $current_color;
      }
   }

   .learning_list {
      display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    max-width: 1220px;
    margin-top: 60px;

      .learning_list_item {


         .learning_item_image {
            height: 200px;
            object-fit: cover;
         }

         .learning_item_title {

            display: flex;
            font-size: 1.5rem;
            align-items: flex-start;
            margin: 20px 0;

            .learning_item_title_number {
               color: $current_color;
               max-width: 60px;
               width: 100%;
               position: relative;

               &::after {
                  content: '';
                  position: absolute;
                  width: 28px;
                  height: 3px;
                  background: $current_color;
                  transform: rotate(-45deg);
                  top: 50%;
                  right: 0;
               }
            }

         }

         .learning_item_description {
            margin-left: 60px;
         }

      }
 
   }

}

//Learning end




//Access library start

#access_library {

   .access_library_list {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .access_library_item {
         padding: 80px 10%;
         display: flex;
    flex-direction: column;
    justify-content: flex-end;

         .access_library_item_title {

            margin-bottom: 20px;
         }
      }

      .item1 {
         background: url(../images/access_item1.jpg) no-repeat center center;
         background-size: cover;

      }

      .item2 {
         background-color: $current_color;

         img {
            width: auto;
            max-width: 360px;
            margin-left: 30%;
            margin-bottom: 100px;
         }
      }

   }

}

//Access library end





//Reading start

#reading {
   padding: 120px 0 80px;

   .reading_title {
   
   
      span {
         color: $current_color;
      }
   }

}

//Reading end



//Any questions start

#any_questions {

   padding: $padTopBottom;

   .any_questions_title {
      
      span {
         color: $current_color;
      }

   }

   .any_questions_list {
      margin: 60px 0 50px;
      position: relative;

      .any_questions_list_item {
         max-width: 1280px;
         transition: all .8s;
         border-top: 1px solid #000;

         summary {
            display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 0;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;

    &::-webkit-details-marker { display: none; }
  &::-moz-list-bullet { list-style-type: none; }
   
            &::after {
               content: '';
               position: absolute;
               right: 10px;
               height: 25px;
               width: 2px;
               background-color: $white_color;
               transition: all .5s;
            }

            &::before {
               content: '';
               position: absolute;
               right: 10px;
               height: 25px;
               width: 2px;
               transform: rotate(90deg);
               background-color: $white_color;
            }

            
         }

         &[open] {

            summary {

               & ~ * {
                  animation: answer .5s ease-in-out;
               }

            &::after {
               transform: rotate(-90deg);
            }

         }

         }

         .any_questions_item_content {
            padding-bottom: 30px;
         }

         &:last-child {

            border-bottom: 1px solid #000;
         }

      }
   }

   .have_questions_txt {
      max-width: 505px;

      a {
         text-decoration: none;
      }

   }

   .consult_me_btn {
      background-color: $current_color;
      border: 2px solid $current_color;
      margin-top: 30px;
      height: 45px;
      max-width: 255px;
      width: 100%;
      text-transform: uppercase;
      border-radius: 50px;
      color: $white_color;
      transition: all .4s;
      letter-spacing: 1.5px;

      &:hover {
         background-color: transparent;
         color: #101014;
      }
   }
}

//Any questions end






//Registration start

#registration {
   padding: $padTopBottom;

   .registration_title {
   
   
      span {
         color: $current_color;
      }
   }

   .registration_list {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
    grid-gap: 10%;
    margin-top: 60px;

      .registration_form_item {

         margin-bottom: 30px;
         

      }

      .select_item {
         display: flex;
         align-items: center;

      }

      #registration_form {
         background-color: #23232E;
         padding: 60px;

         input {
            font-size: 1.5rem;
            color: $white_color;
            background: transparent;
            padding-bottom: 10px;
            border: none;
            border-bottom: 1px solid#F1F3F6;
            width: 100%;

            &::placeholder {
               font-size: 1.5rem;
               color: $white_color;
            }
            &:invalid {
               color: #E64742;
               border-bottom: 1px solid #E64742;
            }

            &:focus {
               outline-width: 0;
               color: $current_color;
               border-bottom: 1px solid $current_color;
            }
         }

         .registration_form_item_select {
            width: 55px;
    margin-right: 15px;
    position: relative;

            img {
               max-width: 26px;
            }

            &::before {
               content: "";
    border-width: 7px;
    border-style: solid;
    border-color: #8C899A transparent transparent transparent;
    position: absolute;
    top: 40%;
    right: 0;
            }

         }

         .registration_form_item_leave {
            max-width: 335px;
            width: 100%;
            height: 45px;
            border-radius: 50px;
            text-transform: uppercase;
            background-color: $current_color;
            font-size: $small_size;
            color: $white_color;
            border: 2px solid $current_color;
            transition: all .4s;
            padding: 0;
            cursor: pointer;
         }

         .privacy {
            font-size: 16px;
            margin-top: 20px;

            a { 
               color: $white_color;
            }
         }
      }

      .registration_questions {
         display: flex;
         flex-direction: column;
         align-items: flex-start;

         .registration_questions_image {
            margin-bottom: 20px;
         }

         .registration_questions_title {
            font-size: 1.5rem;
            line-height: 30px;
            margin-bottom: 30px;
            color: $white_color;
         }

         .registration_questions_consult {
            text-transform: uppercase;
            max-width: 255px;
            width: 100%;
            height: 45px;
            border: 1px solid $white_color;
            background: transparent;
            color: $white_color;
            border-radius: 50px;

         }
      }

   }

}

//Registration end

//Contacts

#contacts {
   padding: $padTopBottom;

   .contacts_telephones {
      font-size: 75px;
      display: flex;
      flex-direction: column;

      a {
         line-height: 60px;
         color: $white_color;
         text-decoration: none;
      }
   }

   .contacts_mail {
      display: block;
      text-decoration: none;
      font-size: 75px;
      line-height: 60px;
      margin-top: 60px;
      color: $white_color;
   }

   .social_buttons {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      grid-gap: 10px;

      .social_buttons_item {

      text-transform: uppercase;
      font-size: $small_size;
      height: 46px;
      width: 100%;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50px;
      color: $white_color;
      transition: all .4s;
      letter-spacing: 1.5px;
      line-height: 1;
      font-size: 14px;

      &:hover {
         background: $current_color;
      }
   }
   }
}

//Contacts

//Footer

footer {

   .footer_top {
      display: grid;
      grid-template-columns: 1fr 11fr;
      grid-gap: 73px;
      padding: 60px 0;
   }

      .footer_navigation {
         display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;

         .footer_navigation_item {

            .navigation_item_title {
               color: $current_color;
               font-size: $small_size;
               line-height: 1;
               letter-spacing: 1.5px;
               text-transform: uppercase;
               margin-bottom: 30px;
            }
   
         }

         .footer_navigation_list {
            list-style: none;
            display: grid;
            grid-gap: 10px;

            .navigation_list_item {

            a {
               text-decoration: none;
               color: $white_color;
               background-image: linear-gradient($white_color, $white_color);
       background-position: 0% 100%;
       background-repeat: no-repeat;
       background-size: 0% 1px;
       transition: background-size .3s;
       font-size: 16px;
   
               &:hover {
                  background-size: 100% 1px;
               }
            }
         }
         }

      }

      .footer_bottom {

         .part1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 0;
            border-top: 1px solid #23232E;
            border-bottom: 1px solid #23232E;

            .footer_socials {
               display: inline-grid;
               grid-auto-flow: column;
               grid-gap: 30px;

               .footer_socials_item {
                  
               &:hover {

                  path {
                     fill: $current_color;
                     transition: all .4s;
                  }
               }
               }
            }

            .choose_language {
               display: inline-grid;
               grid-auto-flow: column;
               grid-gap: 10px;
               color: $current_color;
               font-size: 16px;
               text-transform: uppercase;

               .active {
                  color: $white_color;
               }
            }

         }

         .part2 {
            display: grid;
            grid-template-columns: 295px 400px 1fr;
            grid-gap: 20px;
            padding: 30px 0 10px;

            .copyright {
               font-size: $small_size;
               letter-spacing: 1.5px;
            }

            a {
               color: $white_color;
               text-decoration: none;
               background-image: linear-gradient($white_color, $white_color);
       background-position: 0% 100%;
       background-repeat: no-repeat;
       background-size: 0% 1px;
       transition: background-size .3s;
       font-size: 16px;
   
               &:hover {
                  background-size: 100% 1px;
               }
            }
         }
      }

}

//Footer








//Other areas start

#other_areas {

   padding: $padTopBottom;

   .other_areas_title {

      span {
         color: $current_color;
      }

   }

   .other_areas_list {

      .other_areas_item {
         height: 420px;
         background: url(../images/other_areas.jpg) no-repeat center center;
         background-size: cover;
         padding: 30px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-bottom: 20px;

         .other_areas_item_title {
            margin-bottom: 10px;
         }


         .other_areas_item_footer {
            max-width: 220px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

         .months {
            text-align: right;
            position: relative;

            &::before {
               content: "";
    width: 35px;
    height: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(
130deg
) translate(55px, 10px);

         }
      }
         }
      }
   }

}

//Other areas end





//Popup start

.modules_popup {
   background-color: $current_color;
   padding: 20px;
   max-width: 230px;

   .modules_popup_title {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 14px;
      letter-spacing: 1.5px;
   }

   .modules_popup_text {
      font-size: 16px;
    line-height: 19px;
   }
}

//Popup end




//Keyframes for "Any questions"

@keyframes answer {
   0%    {opacity: 0; transform: translateX(-10px)}
   100%  {opacity: 1; transform: translateX(0)}
 }

 //Keyframes for "Any questions"





// Scrolling lists start

.curators_list, .students_projects_list, .reading_list {
   display: flex;
   flex-wrap: nowrap;
   overflow: auto hidden;
   padding-bottom: 30px;
   position: relative;

   &::after, &::before {
      content: url(../images/arrow_right.png);
      background-color: $current_color;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 35%;
      color: $white_color;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: all .4s;
      cursor: pointer;
   }

   &::after {
      right: 0;
      transform: translate(-50%, -35%);
   }

   &::before {
      left: 0; 
      transform: translate(50%, -35%) rotate(180deg);
   }

   &:hover {

      &::after, &::before {
         visibility: visible;
         opacity: 1;
      }

   }

   .curators_item, .students_projects_item, .reading_item {
      display: flex;
      flex-direction: column;
      width: 290px;
      min-width: 290px;
      margin-right: 20px;
      height: 100%;

      &:last-child {
         margin-right: 0;
      }

      .curators_item_image, .students_projects_image, .reading_item_image {
         height: 440px;
         object-fit: cover;
      }

      .curators_item_position, .students_projects_item_position, .reading_item_position {
         color: $current_color;
         font-size: $small_size;
         text-transform: uppercase;
         margin: 30px 0;
      }

      .curators_item_name, .students_projects_item_name {
         font-size: 30px;
         line-height: 30px;
         margin-bottom: 10px;
      }

      .curators_item_about, .students_projects_item_about {
         font-size: 16px;
         line-height: 19px;
      }
   }

   a {
      text-decoration: none;
      color: $white_color;

      &:hover {
         text-decoration: underline;
      }
   }
}

// Scrolling lists end




// Styles scrollbar

.curators_list, .modules_list, .students_projects_list, .reading_list {

   &::-webkit-scrollbar {
      height: 2px;
      background-color: #23232E;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $current_color;
   }
}

// Styles scrollbar





// Media queries

@media screen and (min-width: 1440px) {
   .header_title {
   
      h1 {
         
      font-size: 150px;
         line-height: 112px;
      }
   }
   #modules {
      .modules_list {
          .modules_list_item {
            
         min-width: 345px;
         height: 340px;
   }
      }
   }
}

@media screen and (max-width: 1440px) {
   
}

@media screen and (max-width: 1300px) {
   .header_title {
      h1 {
      font-size: 3rem;
   }
   }
}

@media screen and (max-width: 1200px) {
   .container {
      padding-left: 40px;
      padding-right: 40px;
   }
   .header .header_part1, .header .header_navigation .menu_list, .header .header_part3 {
      grid-gap: 20px;
   }
}

@media screen and (max-width: 1024px) {
   .container {
      padding-left: 30px;
      padding-right: 30px;
   }
   h2 {
      font-size: 80px;
      line-height: 64px;
   }
   h3, #curriculum .curriculum_list .curriculum_item .curriculum_item_description .curriculum_item_description_title, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description .curriculum_item_diploma_description_header .curriculum_item_diploma_description_title {
      font-size: 60px;
      line-height: 48px;
   }
   .header_title {

      h1 {
         line-height: 82px;
         font-size: 110px;
      }
   }
   #professium_details .advantages .advantages_list {
      margin-top: 100px;
   }
   footer .footer_bottom .part2 {
      grid-template-columns: 180px 400px 1fr;
   }
   #saving .saving_container .saving_title {
      margin-top: -69px;
   }
   #saving .saving_container .saving_list {
      margin-top: 100px;
   }
   #learning .learning_list {
      grid-gap: 30px;
   }
}

@media screen and (max-width: 900px) {

   .header .header_navigation .menu_list, .header .header_part3, .header .header_part1 .choose_faculty {
      display: none;
   }
   .header .burger {
      display: inline-block;
   }
}

@media screen and (max-width: 768px) {
   .container {
      padding-left: 60px;
      padding-right: 60px;
   }
   .go_to_professium {
      margin-top: 20px;
   }
   #modules {
      margin-top: 80px;
      .modules_list {
         .modules_list_item {
           min-width: 236px;
           height: 236px;
           .modules_list_item_title {
            overflow-wrap: break-word;
           }
           .modules_list_item_time {
              font-size: 16px;
              max-width: 150px;
              min-height: 60px;
            
              .months::before {
               transform: rotate(
130deg
) translate(35px, -3px);
width: 23px;
              }
           }
  }
     }
   }
   h2 {
      font-size: 60px;
      line-height: 48px;
   }
   h3 {
      font-size: 50px;
      line-height: 28px;
   }
   #professium_details .advantages .advantages_title {
      margin-top: -53px;
   }
   #professium_details .advantages .advantages_list {
      margin-top: 80px;
   }
   #curriculum .curriculum_list .curriculum_item .curriculum_item_description .curriculum_item_description_text {
      grid-template-columns: 1fr;
    grid-gap: 50px;
   }
   #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description .curriculum_item_diploma_description_text .curriculum_item_description_text_with_autograph {
      flex-wrap: wrap;
   }
   #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description, #curriculum .curriculum_list .curriculum_item .curriculum_item_description {
      padding: 40px;
   }
   #suitable_program .suitable_program_list {
      margin-bottom: 30px;
   }
   #saving .saving_container {
      padding-bottom: 60px;
   }
   #saving .saving_container .saving_title {
      margin-top: -53px;
   }
   #saving .saving_container .saving_list .saving_item .saving_item_amount {
      font-size: 60px;
   }
   #saving .saving_container .saving_list {
      margin-top: 40px;
   }
   #saving .saving_container .saving_list .saving_item {
      font-size: 16px;
   }
   #learning {
      padding: 60px 0 85px;
   }
   #learning .learning_list {
      grid-gap: 40px 20px;
   }
   #access_library .access_library_list {
      grid-template-columns: 100%;
   }
   #access_library .access_library_list .access_library_item .access_library_item_title {
      font-size: 75px;
      line-height: 60px;
   }
   #access_library .access_library_list .item1 {
      height: 580px;
   }
   #access_library .access_library_list .access_library_item {
      padding: 60px;
   }
   #any_questions .any_questions_list {
      margin: 50px 0 30px;
   }
   #registration .registration_list {
      grid-template-columns: 100%;
    grid-gap: 50px;
   }
   #registration .registration_list .registration_questions {
      flex-direction: row;
   }
   #registration .registration_list .registration_questions .registration_questions_image {
      margin: 0 15px 0 0;
   }
   #other_areas .other_areas_list .other_areas_item .other_areas_item_title {
      font-size: 60px;
      line-height: 48px;
   }
   #registration .registration_list #registration_form {
      padding: 60px 50px;
   }
   .header .header_navigation {
      justify-content: flex-end;
   }
   #contacts .contacts_telephones a, #contacts .contacts_mail {
      font-size: 50px;
      line-height: 35px;
   }
   footer .footer_bottom .part2 {
      grid-template-columns: 1fr;
    text-align: center;
   }
   footer .footer_top {
      grid-template-columns: 1fr;
   }
   footer .footer_logo {
      text-align: center;
   }
   footer .footer_navigation {
      grid-gap: 10px;
   }
   .header_title h1 {
      font-size: 80px;
      line-height: 60px;
   }
   .mt50 {
      margin-top: 30px;
   }
   .mastery_vector h3, #curriculum .curriculum_list .curriculum_item .curriculum_item_description .curriculum_item_description_title, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description .curriculum_item_diploma_description_header .curriculum_item_diploma_description_title {
      font-size: 40px;
      line-height: 36px;
   }
   .mastery_vector_link {
      font-size: 16px;
      line-height: 1;
   }
   #professium_details {
      margin-top: 80px;
   }
   #curriculum .curriculum_list .curriculum_item .curriculum_item_module, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_module {
      margin: 30px 20px 0 0;
   }
   #curriculum .curriculum_list .curriculum_item .curriculum_item_module::after {
      height: 98%;
   }
   #curriculum .curriculum_list .curriculum_item .curriculum_item_module, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_module {
    min-width: 144px;
   }
}

@media screen and (max-width: 767px) {
   #curriculum .curriculum_list .curriculum_item .curriculum_item_module, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_module {
      visibility: hidden;
   }
}

@media screen and (max-width: 500px) {
   .header_title {
      overflow-wrap: break-word;

      h1 {
         font-size: 1.25rem;
         line-height: 37.5px;
      }
   }
   .container {
      padding-left: 20px;
      padding-right: 20px;
   }
   .go_to_professium, #curriculum .curriculum_list .curriculum_item_join, #saving .saving_container .saving_list .saving_item .go-to-professium, #any_questions .consult_me_btn, #registration .registration_list #registration_form .registration_form_item_leave,#curriculum .curriculum_list .curriculum_item .curriculum_item_description .curriculum_item_description_text .pass_separetely {
      max-width: 100%;
   }
   h2 {
      font-size: 45px;
      line-height: 35px;
   }
   h3 {
      font-size: 35px;
      line-height: 28px;
   }
   #professium_details .professium_details_img {
      height: 480px;
      object-fit: cover;
   }
   #professium_details {
      margin-top: 60px;
   }
   #professium_details .advantages .advantages_title {
      margin-top: -40px;
   }
   #professium_details .advantages .advantages_list {
      margin-top: 30px;
   }
   #professium_details .advantages .advantages_list .advantages_list_item_text {
      font-size: 14px;
   }
   #professium_details .advantages .advantages_list .advantages_list_item_title {
      padding-bottom: 10px;
   }
   #professium_details .advantages .advantages_list .advantages_list_item_text {
      padding-top: 10px;
   }
   .curators_title, .suitable_program_title, #saving .saving_container .saving_title, .learning_title, #access_library .access_library_list .access_library_item .access_library_item_title,#any_questions .any_questions_title, .registration_title, .curriculum_item_description_title {
      font-size: 38px;
      line-height: 30px;
   }
   .curators_list .curators_item .curators_item_image, .curators_list .curators_item .students_projects_image, .curators_list .curators_item .reading_item_image, .curators_list .students_projects_item .curators_item_image, .curators_list .students_projects_item .students_projects_image, .curators_list .students_projects_item .reading_item_image, .curators_list .reading_item .curators_item_image, .curators_list .reading_item .students_projects_image, .curators_list .reading_item .reading_item_image, .students_projects_list .curators_item .curators_item_image, .students_projects_list .curators_item .students_projects_image, .students_projects_list .curators_item .reading_item_image, .students_projects_list .students_projects_item .curators_item_image, .students_projects_list .students_projects_item .students_projects_image, .students_projects_list .students_projects_item .reading_item_image, .students_projects_list .reading_item .curators_item_image, .students_projects_list .reading_item .students_projects_image, .students_projects_list .reading_item .reading_item_image, .reading_list .curators_item .curators_item_image, .reading_list .curators_item .students_projects_image, .reading_list .curators_item .reading_item_image, .reading_list .students_projects_item .curators_item_image, .reading_list .students_projects_item .students_projects_image, .reading_list .students_projects_item .reading_item_image, .reading_list .reading_item .curators_item_image, .reading_list .reading_item .students_projects_image, .reading_list .reading_item .reading_item_image {
      height: 305px;
   }
   .curators_list .curators_item, .curators_list .students_projects_item, .curators_list .reading_item, .students_projects_list .curators_item, .students_projects_list .students_projects_item, .students_projects_list .reading_item, .reading_list .curators_item, .reading_list .students_projects_item, .reading_list .reading_item {
      width: 180px;
    min-width: 180px;
   }
   #curriculum .curriculum_list .curriculum_item, #curriculum .curriculum_list .curriculum_item_diploma {
      flex-wrap: wrap;
   }
   #curriculum .curriculum_list .curriculum_item .curriculum_item_module, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_module {
      visibility: visible;
      min-width: 100%;
      text-align: left;
      font-size: 25px;
      margin-bottom: 10px;
   }
   #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description, #curriculum .curriculum_list .curriculum_item .curriculum_item_description {
      padding: 25px;
   }
   #curriculum .curriculum_list .curriculum_item .curriculum_item_description .curriculum_item_description_text .curriculum_item_description_text_item, #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description .curriculum_item_diploma_description_text .curriculum_item_description_text_item, #curriculum .curriculum_list .curriculum_item_attention {
      font-size: 16px;
   }
   #curriculum .curriculum_list .curriculum_item_diploma .curriculum_item_diploma_container .curriculum_item_diploma_description .curriculum_item_diploma_description_text .curriculum_item_description_text_with_autograph .curriculum_item_description_text_with_autograph_image {
      width: 100%;
   }
   #curriculum, #students_projects, #reading, #registration, #other_areas {
      padding: 60px 0;
   }
   #suitable_program {
      padding-top: 60px;
   }
   #suitable_program .suitable_program_list {
      margin-top: 30px;
   }
   #suitable_program .suitable_program_list .suitable_program_list_part .suitable_program_list_item {
      margin-bottom: 30px;
   }
   #suitable_program .suitable_program_list {
      margin-bottom: 70px;
   }
   #saving .saving_container .saving_title {
      margin-top: -34px;
   }
   #access_library .access_library_list .access_library_item {
      padding: 40px 20px;
   }
   #access_library .access_library_list .item2 img {
      margin-left: 15%;
   }
   #registration .registration_list #registration_form {
      padding: 20px;
   }
   #registration .registration_list #registration_form .registration_form_item_leave {
      font-size: 12px;
   }
   #registration .registration_list .registration_questions .registration_questions_image {
      margin: 0 0 20px;
   }
   #registration .registration_list .registration_questions {
      flex-direction: column;
   }
   #other_areas .other_areas_list .other_areas_item .other_areas_item_title {
      font-size: 30px;
      line-height: 27px;
   }
   #other_areas .other_areas_list .other_areas_item {
      padding: 20px;
   }
   .breadcrumbs {
      grid-gap: 5px;
      margin-top: 25px;
   }
   #contacts .contacts_telephones a, #contacts .contacts_mail {
      font-size: 30px;
      line-height: 20px;
      overflow-wrap: break-word;
   }
}


// Media queries